.nav {
	position: fixed;
	top: 20px;
	right: 50%;
	transform: translateX(50%);
	z-index: 100;
}

.ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 500px;
	list-style-type: none;
	background-color: rgba(210, 240, 251, 0.7);
	padding: 20px;
	border-radius: 20px;
}

.ul li {
	font-size: 24px;
}
